.container{
    display: flex;
    background-color: cadetblue;
    height: 600px;
    width: 60%;
    margin-bottom: 100px;
}
.h1{display: flex;
    background-color: bisque;
    height: 400px;
    width: 60%;
    margin-top: 80px;
    margin-left: 150px;
    border-radius: 10px;

}
.h2{
    background-color: burlywood;
    height: 400px;
    width: 50%;
    
}
.h3{
    color: black;
    font-size: large;
    padding-left: 110px;
    padding-top: 90px;
}
.h4{
    padding-left:20px;

}

.h6{
    padding-left: 30px;
    justify-content: 20px;

}

.h8{
    padding-left: 40px;
}
.h9{
    padding-left: 10px;
}
.h10{
    width: 200px;
    height: 20px;
    background-color: rgb(230, 214, 194);
    border: 1px solid rgb(220,212,212);
    padding-top: 10px;
    margin-left: 20px;

}
.h11{
    width: 200px;
    height: 20px;
    background-color: rgb(230, 214, 194);
    border: 1px solid rgb(220,212,212);
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 20px;

}
.h12{
    width: 200px;
    height: 20px;
    background-color: rgb(230, 214, 194);
    border: 1px solid rgb(220,212,212);
    margin-top: 10px;
    margin-left: 20px;


}
.h13{
    width: 200px;
    height: 20px;
    background-color: rgb(230, 214, 194);
    border: 1px solid rgb(220,212,212);
    margin-top: 10px;
    margin-left: 20px;

}

.h14{
    width: 200px;
    height: 20px;
    background-color: rgb(230, 214, 194);
    border: 1px solid rgb(220,212,212);
    margin-top: 10px;
    margin-left: 20px;

}
.h15{
    margin-left: 60px;
    text-align: center;
    height: 30px;
    width: 90px;
    background-color: rgb(81, 205, 200);
    border-radius: 10px;
    margin-top: 30px;
    
}
@media (max-width: 787px){
    .container{
        color: blue;
    }
}
@media (max-width: 787px){
    .h1{
        width: 400px;
        height: 200px;
    }
}
    

